@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body
{
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    position: relative;
}

/*Navigation Styles*/

header
{
    background: rgba(85, 214, 170, .85);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.logo
{
    padding: 10px;
}

.nav-toggle
{
    display: none;
}

.nav-toggle-label
{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before
{
    bottom: 7px;
}

.nav-toggle-label span::after
{
    top: 7px;
}

nav
{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(85, 214, 170, .85);
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a
{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out ;
}

nav a:hover
{
    color: #000;
}

.nav-toggle:checked ~ nav
{
    transform: scale(1,1)
}

.nav-toggle:checked ~ nav a
{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1550px)
{
    .nav-toggle-label
    {
        display: none;
    }

    header
    {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo
    {
        grid-column: 2 / 3;
        padding: 10px;
    }

    nav
    {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul
    {
        display: flex;
    }

    nav li 
    {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a
    {
        opacity: 1;
        position: relative;
    }

    nav a::before
    {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        transform: scale(0 , 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before
    {
        transform: scale(1, 1)
    }
}

.wrapper
{
    background-color: #f2f2f2;
    color: #a6a6a6;
    padding: 5rem 0 10rem 0;
    position: relative;
    top: 100px;
    height: 100%;
}

.wrapper > .inner{
    margin: 0 auto;
    width: 80rem;
}

@media screen and (max-width: 300px) {

    .wrapper > .inner {
        width: 75rem;
        width: 100%;
    }

}

.align-center
{
    text-align: center;
}

.box
{
    background: rgb(223, 223, 223)

}

h1
{
    color: #555;

}

.box h1::after
{
    content: '';
    position: absolute;
    margin: auto;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

p
{
    margin: 0 0 2rem 0;
    word-wrap: break-word;
}

@media screen and (max-width: 736px)
 {
    .footer
    {
        padding: 3rem 0 1rem 0;
    }
}
.footer{
    position: absolute;
    bottom:-1000px;
    width: 100%;
    height:100px;
    background: rgba(85, 214, 170, .85);
    z-index: 11;
}

.icons{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0 0 0;
    
}

.footer li
{
    margin-left: 10px;
}

.copyright
{
    text-align: center;
}


